main {
    margin-left: 40px;
    margin-top: 20px;
}

details {
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 5px;
}

.info-box {
    background-color: #e0f7fa; 
    border-left: 6px solid #0288d1; 
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 5px;
}